.main {
    &__header {
        text-align: center;
        margin-top: rem(35);

        @include breakpoint("md") {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: unset;
            margin-top: rem(65);
        }
    }

    &__buttons {
        margin-top: rem(25);

        @include breakpoint("md") {
            margin-top: unset;
        }
    }

    &__buttons button {
        font-family: $font-family;
        font-size: rem(19);
        background-color: $neutral-0;
        color: $neutral-900;
        margin-inline: rem(7);
        padding: rem(7) rem(19) rem(9);
        border-radius: 20px;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 rem(4) $neutral-300;
        transition: color .3s;

        &:hover {
           color: $neutral-600;
        }

        &:focus {
            outline: rem(2) solid $red-400;
            outline-offset: rem(2);
        }

        body.dark-mode & {
            background-color: $neutral-700;
            box-shadow: unset;
            color: $neutral-100;
            transition: background-color .3s;

            &:hover {
                background-color: $neutral-600;
            }
        }
    }

    h1 {
        font-size: rem(34);
        color: $neutral-900;

        body.dark-mode & {
            color: $neutral-0;
        }
    }

    &__active-btn.active {
        background-color: $red-700;
        color: $neutral-0 !important;
        font-weight: $weight-500;
        
        &:hover {
           opacity: .8;
        }

        body.dark-mode & {
            background-color: $red-400;
            color: $neutral-800;
            transition: background-color .3s;

            &:hover {
                background-color: $red-500;
            }
        }
    }
}

.items {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(13);
    margin-block: rem(40);

    @include breakpoint("md") {
        grid-template-columns: repeat(2, 1fr);
        gap: rem(13);
    }

    @include breakpoint("lg") {
        grid-template-columns: repeat(3, 1fr);
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: rem(200);
        background-color: $neutral-0;
        border-radius: rem(20);
        padding: rem(19);

        body.dark-mode & {
            background-color: $neutral-800;
        }
    }

    &__content {
        display: flex;
        align-items: start;
        gap: rem(16);
    }

    h2 {
        font-size: rem(20);
        color: $neutral-900;

        body.dark-mode & {
            color: $neutral-100;
        }
    }
    
    p {
        font-size: rem(15);
        font-weight: $weight-400;
        color: $neutral-700;
        margin-top: rem(10);

        body.dark-mode & {
            color: $neutral-300;
        }
    }

    &__button-wrappers {
        display: flex;
        justify-content: end;
        align-items: end;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__remove {
        font-family: $font-family;
        font-weight: $weight-500;
        font-size: $font-size;
        padding: rem(7) rem(13) rem(8);
        background-color: transparent;
        color: $neutral-900;
        border-radius: rem(20);
        border: rem(1) solid $neutral-300;
        cursor: pointer;
        transition: color, background-color .3s;

        &:hover {
            background-color: $red-700;
            color: $neutral-100;
            border: rem(1) solid $red-700;
        }

        &:focus {
            border: none;
            background-color: $neutral-100;
            color: $neutral-900;
            outline: rem(2) solid $red-700;
            outline-offset: rem(2);
        }

        body.dark-mode & {
            color: $neutral-100;
            border: rem(1) solid $neutral-600;

            &:hover {
                background-color: $red-400;
                color: $neutral-800;
            }

            &:focus {
                outline: rem(2) solid $red-400;
            }
        }
    }

    &__toggle {
        position: relative;
        display: inline-block;
        width: rem(36);
        height: rem(20);

        & input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        background-color: $neutral-300;
        border-radius: rem(20);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: background-color .3s;

        &:before {
            content: "";
            position: absolute;
            width: rem(16);
            height: rem(16);
            left: rem(3);
            bottom: rem(2);
            background-color: $neutral-0;
            border-radius: 50%;
            transition: .3s;
        }

        &:hover {
            opacity: .8;
        }
    }

    & input:checked + .items__slider {
        background-color: $red-700;

        body.dark-mode & {
            background-color: $red-400;

            &:hover {
                background-color: $red-500;
            }
        }
    }

    &__toggle input:focus + .items__slider {
        outline: rem(2) solid $red-700;
        outline-offset: rem(2);
    }

    body.dark-mode &__toggle input:focus + .items__slider {
        outline: rem(2) solid $red-400;
    }

    & input:checked + .items__slider:before{
        transform: translateX(rem(15));
    }
}